/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
/* START SOLUTION */
body {
  margin: 0;
  font-family: helvetica;
  position: relative;
}
iframe {
  position: absolute;
  z-index: 1;
}
.mouse {
  position: absolute;
  background-color: orange;
}
.astroid {
  background-image: url('asteroid.png');
  background-size: 100% 100%;
  position: absolute;
}
.vis {
  background-color: black;
}
.scoreboard {
  width: 250px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 200px;
  right: 20px;
  padding: 5px;
  border-radius: 3px;
}
.scoreboard div {
  line-height: 33px;
  font-size: 25px;
  float: right;
  border-radius: 20px;
  border-color: red;
}
.board{
  width: 400px;
  height: 400px;
  background-color: red;
  border-color: red;
  position:absolute;
  top:50%;
}
svg {
  color: red;
}
/* END SOLUTION */
